body {
  background-image: url("https://img.freepik.com/free-photo/blue-gradient-abstract-background-empty-room-with-space-your-text-picture_1258-66819.jpg?size=626&ext=jpg&ga=GA1.2.1103567159.1597658053&semt=robertav1_2_sidr");
    background-repeat: no-repeat;
    background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
